body {
    font-family: sans-serif;
   
    padding-left: 180px;
}


h1 {
    font-size: 40px;
   
    text-align: center;
}


.inf {
    font-size: 20px;
    font-weight: 700;
    color: #1e4523;
}


p {
    width: 70%;
   
    margin-left: auto;
    margin-right: auto;
   
   
}


main {
   
    padding: 20px;
}


nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 160px;
    background-color: #32421c;
    padding-top: 20px;
}


a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}


a:hover {
    color: #c1c1c1;
}




img {
    height: 400px;
    width: 600px;
   
    display: block;
 
    margin-left: auto;
    margin-right: auto;
}

